[workspace]
resolver = "2"
members = [
    "rp2040-hal",
    "boards/feather_rp2040",
    "boards/qt_py_rp2040",
    "boards/itsy_bitsy_rp2040",
    "boards/kb2040",
    "boards/pico",
    "boards/pico_explorer",
    "boards/pico_lipo_16mb",
    "boards/adafruit_macropad",
    "boards/pro_micro_rp2040",
]

[patch.'https://github.com/rp-rs/rp-hal.git']
rp2040-hal = { path ="./rp2040-hal" }

[patch.crates-io]
rp2040-hal = { path ="./rp2040-hal" }
