[package]
name = "rp2040-hal"
version = "0.3.0"
authors = ["evan <evanmolder@gmail.com>"]
edition = "2018"
homepage = "https://github.com/rp-rs/rp-hal"
description = "A Rust Embeded-HAL impl for the rp2040 microcontroller"
license = "MIT OR Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cortex-m = "0.7.2"
embedded-hal = { version = "0.2.5", features = ["unproven"] }
eh1_0_alpha = { version = "=1.0.0-alpha.5", package="embedded-hal", optional=true }
embedded-time = "0.12.0"
itertools = { version = "0.10.1", default-features = false }
nb = "1.0"
rp2040-pac = "0.1.5"
paste = "1.0"
pio = { git = "https://github.com/rp-rs/pio-rs.git", branch = "main" }
usb-device = "0.2.8"
vcell = "0.1"
void = { version = "1.0.2", default-features = false }
rand_core = "0.6.3"
futures = { version = "0.3", default-features = false }

[dev-dependencies]
cortex-m-rt = "0.7"
panic-halt = "0.2.0"
rp2040-boot2 = "0.2"
hd44780-driver = "0.4.0"
pio-proc = { git = "https://github.com/rp-rs/pio-rs.git", branch = "main" }

[features]
rt = ["rp2040-pac/rt"]
