on: [push, pull_request]
name: Build and Test check
jobs:
  rp2040-hal-builds:
    name: Build rp2040-hal examples without bsp
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        mode: ["", "--release"]
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: thumbv6m-none-eabi
          override: true
          profile: minimal
      - name: Build rp2040-hal's examples
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: -p rp2040-hal ${{ matrix.mode }} --examples --features rt,critical-section-impl
  builds:
    name: Build checks
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        features: ["", "--features eh1_0_alpha", "--features chrono", "--features rp2040-e5"]
        mode: ["", "--release"]
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
          target: thumbv6m-none-eabi
      - name: Build workspace
        run: cargo build ${{ matrix.mode }} --workspace ${{ matrix.features }}
      - name: Build workspace and examples
        run: cargo build ${{ matrix.mode }} --workspace --examples ${{ matrix.features }}
      - name: List built examples and clean
        run: rm -vrf target/thumbv6m-none-eabi/*/examples/* | sed -e "s/removed '\(.*\)'/\1/" | xargs -l basename | grep -Ev '(-|\.d)'
      - name: Test
        run: cargo test --tests --target x86_64-unknown-linux-gnu ${{ matrix.features }}
      - name: Test docs
        run: cargo test --doc --target x86_64-unknown-linux-gnu ${{ matrix.features }}
      - name: Clean
        run: cargo clean
      - uses: dtolnay/rust-toolchain@nightly
        with:
          target: thumbv6m-none-eabi
      - name: Install cargo-udeps
        run: curl --location "https://github.com/est31/cargo-udeps/releases/download/v0.1.35/cargo-udeps-v0.1.35-x86_64-unknown-linux-gnu.tar.gz" --output - | tar --strip-components=2 -C ~/.cargo/bin -xzvvf - ./cargo-udeps-v0.1.35-x86_64-unknown-linux-gnu/cargo-udeps
      - name: Check unused deps
        run: cargo udeps ${{ matrix.mode }} --workspace ${{ matrix.features }}
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.62
          target: thumbv6m-none-eabi
      - name: Verifiy MSRV
        run: cargo build --workspace --examples ${{ matrix.features }}
