on: [push, pull_request]
name: On-host tests
jobs:
  check:
    name: Check and Lint
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: thumbv6m-none-eabi
          override: true
          profile: minimal
      ## Tests are currently not working on host - disabled until we can find a good solution
      # - uses: actions-rs/cargo@v1
      #   with:
      #     command: test
      #     args: --target x86_64-unknown-linux-gnu
